/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=VT323);

body, input, a, span {
  background: #252a33;
  -webkit-font-smoothing: none;
  color: #eee;
}
  
form, p, span {
    margin:0;
    padding:0;
}

tr td {
  display: block;
}

/*
form input[type="text"] {
    text-transform: lowercase;
}
*/ 
  
a {
    text-decoration:none; 
}
  
a:hover { 
    text-decoration:underline; 
}

.container {
  padding-left: 50px;
}
  
.wrapper, #loginform {
    width: 100%;
    border: none; 
}
  
#loginform { 
    padding-top:18px; 
}
  
#loginform p { 
    margin: 5px; 
}
  
#terminal {
    text-align:left;
    border: 1px solid #252a33;
    overflow:auto;
}
  
#input {
    width: 50%;
    border: 1px solid #252a33;
    font-size: 18px;
}

textarea:focus, input:focus{
    outline: none;
}
  
#submit { 
    width: 60px; 
}
  
.error { 
    color: #ff0000; 
}
  
.logout { 
    float:right; 
}
  
.response { 
    margin:0 0 2px 0; 
}


/*
 *  Scrollbar style
 */

#terminal::-webkit-scrollbar-track, #terminal::-webkit-scrollbar-corner
{
   
    background-color: #252a33;
}

#terminal::-webkit-scrollbar
{
    background-color: #252a33;
}
